@import url("reset.css");

@font-face {
  font-family: "YoungSerif";
  src: local("YoungSerif"),
    url("/assets/fonts/YoungSerif/youngserif.regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

:root {
  --desertSand: #f0cfaa;
  --caputMortuum: #5e2b27;
}
* {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.btn {
  width: 12.625rem;
  font-size: 1.563rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 35px;
  border-radius: 10px;
}
.light-btn {
  background-color: white;
  border: 1px solid var(--caputMortuum);
  color: var(--caputMortuum);
}
.dark-btn {
  background-color: var(--caputMortuum);
  border: 1px solid var(--caputMortuum);
  color: var(--desertSand);
}
.light-btn:hover {
  background-color: var(--caputMortuum);
  color: var(--desertSand);
}
.dark-btn:hover {
  background-color: white;
  color: var(--caputMortuum);
  border: 1px solid var(--caputMortuum);
}
.divider {
  width: 16.438rem;
  height: 1px;
  background-color: var(--caputMortuum);
  margin: 10px;
}
.divider-l {
  width: 100%;
  height: 2px;
  margin: 10px auto;
  background-color: var(--caputMortuum);
}
h2 {
  font-family: "YoungSerif";
  font-size: 2.25rem;
  color: var(--caputMortuum);
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 100%;
}

/*HEADER SECTION*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 24px;
}
.logo {
  font-weight: 700;
  font-size: 2rem;
  color: var(--caputMortuum);
}
.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2.25rem;
  z-index: 9999;
}
.navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8888;
  transition: 0.3s;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding: 0;
}
.nav-link-style {
  font-size: 1.563rem;
  color: var(--caputMortuum);
  text-decoration: none;
  cursor: pointer;
}
.navbar.active {
  top: 0;
}

/*HERO SECTION*/

#hero_section {
  width: 100%;
  padding: 10px 24px;
}
@media screen and (min-width: 375px) {
  #hero_section {
    padding: 10px 60px;
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}
h1 {
  font-family: "YoungSerif", serif;
  padding: 10px 0;
  font-size: 2.25rem;
  color: var(--caputMortuum);
}

.hero-text p {
  font-size: 1.313rem;
}
.hero-text p span {
  color: var(--caputMortuum);
  font-weight: bold;
}
.hero-ctas {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*ABOUT SECTION*/
#about_section {
  width: 100%;
  padding: 10px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about_section p {
  font-size: 1rem;
}
.tech-stacks {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.tech-stacks ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  text-align: center;
}
.tech-stacks ul i {
  font-size: 2.813rem;
}

/*PROJECT SECTION*/

#project_section {
  width: 100%;
  padding: 25px 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.project-grid {
  display: grid;
  gap: 75px;
}
.frame {
  display: grid;
  gap: 113px;
}
.project-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-card p {
  font-size: 1.125rem;
}
.project-tech-stack {
  display: flex;
  gap: 36px;
}

/*CONTACT SECTION*/

#contact_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px 24px;
}
form {
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 25px;
}
.contact-frame {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: fit-content;
}
button[type="submit"] {
  margin: 0 auto;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
label {
  font-size: 1.125rem;
}
input,
textarea {
  border: 1px solid var(--caputMortuum);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: var(--caputMortuum);
}
textarea {
  max-height: 10rem;
}

/*FOOTER SECTION*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 25px 24px;
}
.socials {
  display: flex;
  gap: 25px;
  align-items: center;
}
.socials i {
  color: var(--caputMortuum);
  font-size: 1.5rem;
  transition: 0.5s;
}
.copyright {
  font-size: 1rem;
}

/*MEDIA QUERIES*/

/*744px tablet small*/
@media screen and (min-width: 744px) {
  .menu-toggle {
    display: none;
  }
  .navbar {
    width: fit-content;
    background: none;
    position: static;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .nav-menu {
    flex-direction: row;
  }
  #hero_section {
    padding: 25px 60px;
  }
  .hero-ctas {
    flex-direction: row;
  }
  #about_section {
    padding: 25px 60px;
  }
  #about_section {
    text-align: center;
  }
  #about_section p {
    font-size: 1.125rem;
  }
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
  .project-frame {
    grid-template-columns: 1fr 1fr;
  }
  .project-tech-stacks {
    width: 18.75rem;
  }
}

/*1024px tablet large*/
@media screen and (min-width: 1024px) {
  header {
    padding: 36px 32px;
  }
  #hero_section {
    padding: 25px 62px;
  }
  #about_section {
    padding: 25px 133px;
    text-align: center;
  }
  .about-tech-stack {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-tech-stack ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
  }
  .about-tech-stack ul li {
    text-align: center;
    padding: 0 1rem;
  }
  #project_section {
    padding: 25px 32px;
  }
  #contact_section {
    padding: 25px 32px;
  }
  form {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1140px) {
  #hero_section {
    padding: 0 250px;
  }
}

/*1440px desktop*/
@media screen and (min-width: 1440px) {
  main {
    max-width: 1440px;
  }
  header {
    max-width: 1440px;
    padding: 36px 32px;
  }
  #hero-section {
    width: 1440px;
    padding: 25px 270px;
  }
  #about_section {
    width: 1440px;
    padding: 25px 270px;
  }
  #project_section {
    width: 1440px;
    padding: 25px 150px;
  }
  #contact_section {
    width: 1440px;
    padding: 25px 150px;
  }
  .contact-frame button {
    width: 16.625rem;
  }
  footer {
    width: 1440px;
    padding: 25px 281px;
  }
}
